<ion-modal-view ng-controller="CreateCtrl as createCtrl" class="create-pane">
  <ion-header-bar class="bar-dark">
    <button class="button button-clear icon ion-map" ng-click="createCtrl.showMap()"></button>
    <h1 class="title">New Snapcache</h1>
    <button class="button button-clear" ng-click="menuCtrl.closeCreate()">Close</button>
  </ion-header-bar>
  <ion-content>

     <form ng-submit="createCtrl.submitNewCache(); menuCtrl.closeCreate();">
      <div class="list">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Recipient</span>
          <input type="text" ng-click="createCtrl.openPopover($event)" ng-model="createCtrl.recipient" placeholder='Jane Doe'>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" ng-model="createCtrl.properties.title" placeholder='Birthday message'>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" ng-model="createCtrl.properties.description" placeholder='Happy Birthday Jane!'>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Drop Date</span>
          <input type="date" value="{{createCtrl.datetime.dropdate}}" ng-model="createCtrl.datetime.dropdate" required>
        </label>

        <label class="item item-input item-stacked-label" ng-if="createCtrl.datetime.dropdate">
          <span class="input-label">Drop Time</span>
          <input type="time" ng-change="createCtrl.convertDateTime()" value="{{createCtrl.datetime.droptime}}" ng-model="createCtrl.datetime.droptime" required>
        </label>

        <label class="item ">
          <div class="item-content">Availability Window &nbsp;&nbsp;<span class="positive">{{ createCtrl.window_slider | defaultRange }}</span></div>
          <div class="range range-positive">
            <i class="icon ion-ios-minus-empty"></i>
            <input type="range" name="volume" min="0" max="122130" value="40710" ng-model="createCtrl.window_slider">
            <i class="icon ion-ios-plus-empty"></i>
          </div>
        </label>

        <label class="item ">
          <div class="item-content">Lifespan &nbsp;&nbsp;<span class="positive">{{ createCtrl.lifespan_slider | defaultRange }}</span></div>
          <div class="range range-positive">
            <i class="icon ion-ios-minus-empty"></i>
            <input type="range" name="volume" min="0" max="122130" value="40710" ng-model="createCtrl.lifespan_slider">
            <i class="icon ion-ios-plus-empty"></i>
          </div>
        </label>

        <label class="item item-stacked-label">
          <span class="input-label">Drop Location</span>
          <div class="item-content positive location-text padding-top">
            {{ menuCtrl.readable_location }}
          </div>
          <div class="item-content positive location-text">
            {{ menuCtrl.position ? menuCtrl.position.coords.latitude.toFixed(3) + ', ' + menuCtrl.position.coords.longitude.toFixed(3) : 'Searching for location...' }}
          </div>
        </label>

        <label class="item">
          <button class="button button-block button-positive btn-create" type="submit">Create Snapcache</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
