<ion-modal-view ng-controller="CreateCtrl as createCtrl">
  <ion-header-bar>
    <h1 class="title">New Snapcache</h1>
    <div class="bar bar-header">
      <button class="button button-clear icon ion-map" ng-click="createCtrl.showMap()"></button>
      <h1 class="title">New Snapcache</h1>
      <button class="button button-clear" ng-click="menuCtrl.closeCreate()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createCtrl.submitNewCache()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Recipient</span>
          <input type="text" ng-model="createCtrl.properties.recipient" placeholder='Jane Doe'>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" ng-model="createCtrl.properties.title" placeholder='Birthday message'>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Message</span>
          <input type="text" ng-model="createCtrl.properties.message" placeholder='Happy Birthday Jane!'>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Drop Date</span>
          <input type="date" ng-model="createCtrl.properties.dropdate">
          <input type="time" ng-model="createCtrl.properties.droptime">
        </label>

        <label class="item ">
          <div class="item-content">Availability Window &nbsp;&nbsp;<span class="positive">{{ createCtrl.properties.window }}</span></div>
          <div class="range range-positive">
              <i class="icon ion-ios-minus-empty"></i>
              <input type="range" name="volume" min="0" max="100" value="33" ng-model="createCtrl.properties.window">
              <i class="icon ion-ios-plus-empty"></i>
          </div>
        </label>

        <label class="item ">
          <div class="item-content">Lifespan &nbsp;&nbsp;<span class="positive">{{ createCtrl.properties.lifespan }}</span></div>
          <div class="range range-positive">
              <i class="icon ion-ios-minus-empty"></i>
              <input type="range" name="volume" min="0" max="100" value="33" ng-model="createCtrl.properties.lifespan">
              <i class="icon ion-ios-plus-empty"></i>
          </div>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Create Snapcache</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
