<ion-popover-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Select Recipient</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="createCtrl.closePopover()">Done</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" ng-change="createCtrl.search()" ng-model="createCtrl.recipient" placeholder='Jane Doe'>
      </label>
    </div>
    <ion-list class="popover-list">
      <ion-item ng-repeat="friend in createCtrl.potentialRecipients" ng-click="createCtrl.addRecipient(friend); createCtrl.closePopover();">
        {{ friend.name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
