<ion-modal-view ng-controller="MapCtrl as mapCtrl">
  <ion-header-bar>
    <h1 class="title">Select Drop Location</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="createCtrl.closeMap()">Done</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <input id="map-search" type="text" placeholder='Search' ng-change='createCtrl.update()' ng-model='mapCtrl.search'>
    </label>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-modal-view>
