# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
docs/

# Ignoring files from Gulp CSS Pre-processor
www/css/ionic.app.css
www/css/ionic.app.min.css

# Ignoring files from bower install
www/lib

# Ignoring files from emacs tern plugin
.tern-port

# Ignoring files with API keys
www/config.js
