<ion-view view-title="Outbox">

  <ion-content>
  
    <ion-list type="card" ng-if="outctrl.caches.length > 0">
      <ion-item class="cache-item" ng-repeat="cache in outctrl.caches | orderBy: 'expiresAt'" ng-click="outctrl.displayDetails(cache)">
        <div class="cache-title {{cache.hasOwnProperty('read_outbox')? '': 'bold-text'}}">
          {{ cache.title }}
        </div>
        <span class="cache-availIn" ng-if="!cache.discovered">
          dropping <span am-time-ago="{{ cache.droptime }}"></span>
        </span>
        <span class="cache-countdown" ng-if="cache.discovered">
          gone <span am-time-ago="{{ cache.expiresAt }}"></span>
        </span>

        <div class="cache-location">{{ cache.readable_location }}</div>
        <div class="fade-from-right">
        </div>
        <div class="top-bar">
        </div>

      </ion-item>
    </ion-list>

    <div class="padding empty-box" ng-if="outctrl.caches.length === 0">
      <h1>Outbox Empty...</h1>
      <img src="img/globe_with_marker.png">
      <button class="button button-large button-balanced" ng-click="outctrl.create()">Create a new cache!</button>
    </div>

  </ion-content>
</ion-view>
