<ion-view view-title="Inbox" class="inbox-pane">

  <ion-content>

    <ion-list ng-if="inctrl.caches.length > 0" class="cache-card" type="card">
      <ion-item class="cache-item" ng-repeat="cache in inctrl.caches | orderBy: 'expiresAt'" ng-click="inctrl.displayDetails(cache)">

          <div class="cache-title {{cache.hasOwnProperty('read_inbox')? '': 'bold-text'}}">{{ cache.title }}</div>
          <img class="profilePhoto" src="{{ cache.createdBy.imgUrl }}">
          <span class="cache-countdown">gone <span am-time-ago="{{ cache.expiresAt }}"></span></span>
          <div class="cache-location">{{ cache.readable_location }}</div>
        <div class="fade-from-right">
        </div>
        <div class="top-bar">
        </div>
      </ion-item>
    </ion-list>

    <div class="padding empty-box" ng-if="inctrl.caches.length === 0">
      <h1>Inbox Empty...</h1>
      <img src="img/globe_with_marker.png">
      <button class="button button-large button-balanced" ng-click="inctrl.create()">Create a new cache!</button>
    </div>

  </ion-content>
</ion-view>
