<ion-view view-title="Inbox">
  <ion-header-bar>
    <h1 class="title">Inbox</h1>
  </ion-header-bar>

  <ion-content>
  
    <ion-list type="card">
      <ion-item ng-repeat="cache in inctrl.caches | orderBy: 'expiresAt'" ng-click="inctrl.displayDetails(cache)">
        <span class="cache-title {{cache.hasOwnProperty('read_inbox')? '': 'bold-text'}}">{{ cache.title }}</span>
        <div class="cache-countdown" am-time-ago="{{ cache.expiresAt }}"></div>
        <div class="cache-location">{{ cache.readable_location }}</div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
