<ion-view view-title="Inbox">
  <ion-header-bar>
    <h1 class="title">Inbox</h1>
  </ion-header-bar>

  <ion-content>
  
    <ion-list type="card">
      <ion-item ng-repeat="cache in inctrl.caches" ng-click="inctrl.displayDetails(cache)">
        <span class="cache-title">{{ cache.title }}</span>
        <div class="cache-countdown">{{ cache.expiresAt | countdown }}</div>
        <div class="cache-location">{{ cache.coordinates }}</div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
