<ion-modal-view ng-controller="InboxDetailCtrl as dctrl">
  <ion-header-bar>
    <h1 class="title">Cache Details {{ dctrl.cache.title }}</h1>
    <div class="bar bar-header">
      <h1 class="title">{{ dctrl.cache.title }}</h1>
      <button class="button button-clear" ng-click="inctrl.closeDetail()">Close</button>
    </div>

  </ion-header-bar>
  <ion-content>
    <ion-list type="card">
      <ion-item ng-repeat="item in dctrl.items">
        <span class="bold-text">{{ item.contributor }}</span> said "{{ item.content.message }}"
      </ion-item>
    </ion-list>
    </ion-list>
  </ion-content>
</ion-modal-view>
