<ion-modal-view ng-controller="InboxDetailCtrl as dctrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title">{{ dctrl.cache.title }}</h1>
    <button class="button button-clear" ng-click="inctrl.closeDetail()">Close</button>

  </ion-header-bar>
  <ion-content>
    <div class="description">{{ dctrl.cache.description }}</div>
    <ion-list type="card">
      <ion-item class="item-text-wrap" ng-repeat="item in dctrl.items">
        <span ng-if="item.content.message"><span class="bold-text">{{ item.contributor }}</span><span class="cache-message">{{ item.content.message }}</span></span>
        <span ng-if="!item.content.message && item.content.imgURL" class="bold-text">{{ item.contributor }}</span>
        <img class="cache-image" ng-if="item.content.imgURL" ng-src="{{ item.content.imgURL | cropImgUrl }}">
      </ion-item>
    </ion-list>
    </ion-list>
  </ion-content>
</ion-modal-view>
