<ion-modal-view ng-controller="InboxDetailCtrl as dctrl">
  <ion-header-bar class="bar-dark">
    <h1 class="title">{{ dctrl.cache.title }}</h1>
    <button class="button button-clear" ng-click="inctrl.closeDetail()">Close</button>

  </ion-header-bar>
  <ion-content>
    <div class="inbox-description">{{ dctrl.cache.description }}</div>
    <ion-list type="card detail-list" ng-if="dctrl.items.length">
      <ion-item class="cache-item cache-contribution item-text-wrap" ng-repeat="item in dctrl.items">
        <img class="profilePhoto" src="{{ item.profileUrl }}">

        <span class="display-name">{{ item.contributor }}</span>
        <span class="created-at">{{ item.content.createdAt }}</span>
        <span ng-if="item.content.message">
          <span class="cache-message">{{ item.content.message }}</span>
        </span>

        <img class="cache-image" ng-if="item.content.imgURL" ng-src="{{ item.content.imgURL | cropImgUrl }}">

      </ion-item>
    </ion-list>
    </ion-list>
  </ion-content>
</ion-modal-view>
