<ion-modal-view ng-controller="OutboxForwardCtrl">
  <ion-header-bar>
    <h1 class="title">Invite Cache Contributors</h1>
    <div class="bar bar-header">
      <h1 class="title">Invite Cache Contributors</h1>
      <button class="button button-clear" ng-click="dctrl.closeForward()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <li ng-repeat="friend in friends | filter:person.name" class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox" ng-checked="isChecked(friend)" ng-click="toggleContributor(friend)">
        </label>
        {{ friend.name }}
      </li>
    </ul>
  </ion-content>

  <div class="bar bar-footer item-input-inset">
    <!-- <button class="button icon ion-paperclip"></button> -->
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="text" placeholder="Name" ng-model="person.name">
      </label>
      <button class="button icon ion-paper-airplane" ng-click="submit(); dctrl.closeForward()"></button>

  </div>

</ion-modal-view>
