<ion-modal-view ng-controller="OutboxDetailCtrl as dctrl">
  <ion-header-bar>
    <h1 class="title">Cache Details {{ dctrl.cache.title }}</h1>
    <div class="bar bar-header">
      <h1 class="title">{{ dctrl.cache.title }}</h1>
      <button class="button button-clear" ng-click="outctrl.closeDetail()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list type="card">
      <ion-item ng-repeat="text in dctrl.texts">
        <span class="bold-text">{{ text.contributor }}</span> said "{{ text.message }}"
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer item-input-inset">
    <!-- <button class="button icon ion-paperclip"></button> -->
      <label class="item-input-wrapper" ng-show="dctrl.isContributable">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="text" placeholder="Message" ng-model="dctrl.text">
      </label>
      <button class="button icon ion-paper-airplane" ng-click="dctrl.addText(dctrl.text)" ng-show="dctrl.isContributable"></button>

    <div ng-show="!dctrl.isContributable">
      <div ng-show="dctrl.cache.discovered">
        The cache has been discovered!
      </div>
      <div ng-show="!dctrl.cache.discovered">
        The cache is available, but has not been discovered.
      </div>
    </div>
  </div>

</ion-modal-view>
