<ion-modal-view ng-controller="OutboxDetailCtrl as dctrl">
  <ion-header-bar>
    <h1 class="title">Cache Details {{ dctrl.cache.title }}</h1>
    <div class="bar bar-header">
      <button ng-show="dctrl.isContributable" class="button button-clear" ng-click="dctrl.openInvite()">Invite</button>
      <h1 class="title">{{ dctrl.cache.title }}</h1>
      <button class="button button-clear" ng-click="outctrl.closeDetail()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list type="card">
      <ion-item class="item-text-wrap" ng-repeat="item in dctrl.items">
        <span ng-if="item.content.message"><span class="bold-text">{{ item.contributor }}</span><span class="cache-message">{{ item.content.message }}</span></span>
        <span ng-if="!item.content.message && item.content.imgURL" class="bold-text">{{ item.contributor }}</span>

        <img class="cache-image" ng-if="item.content.imgURL" ng-src="{{ item.content.imgURL | cropImgUrl }}">
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar bar-footer item-input-inset">
    <!-- <button class="button icon ion-paperclip"></button> -->
      <button class="camera-button button button-clear icon ion-camera" ng-click="dctrl.showContentActionSheet()" ng-show="dctrl.isContributable"></button>
      <label class="item-input-wrapper" ng-show="dctrl.isContributable">
        <input type="text" placeholder="Message" ng-model="dctrl.contentToAdd.text">
      </label>
      <button class="button button-clear" ng-click="dctrl.addContent()" ng-show="dctrl.isContributable">Submit</button>

    <div ng-show="!dctrl.isContributable">
      <div ng-show="dctrl.cache.discovered">
        The cache has been discovered!
      </div>
      <div ng-show="!dctrl.cache.discovered">
        The cache is available, but has not been discovered.
      </div>
    </div>
  </div>

</ion-modal-view>
