<ion-modal-view ng-controller="OutboxDetailCtrl as dctrl">
  <ion-header-bar>
    <h1 class="title">Cache Details {{ dctrl.cache.title }}</h1>
    <div class="bar bar-header">
      <h1 class="title">{{ dctrl.cache.title }}</h1>
      <button class="button button-clear" ng-click="outctrl.closeDetail()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list type="card">
      <ion-item ng-repeat="text in dctrl.texts">
        <span class="bold-text">{{ text.contributor }}</span> said "{{ text.message }}"
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
