<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu-pane">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Snapcache</h1>
    </ion-header-bar>
    <ion-content class="menu-container">
      <ion-list class="menu-items">
        <ion-item class="menu-item" nav-clear menu-close ng-click="menuCtrl.create()">
          New Snapcache
        </ion-item>
        <ion-item class="menu-item" nav-clear menu-close href="#/app/inbox">
          Inbox
          <span class="badge badge-assertive" ng-show="menuCtrl.unreadIn > 0">{{ menuCtrl.unreadIn }}</span>
        </ion-item>
        <ion-item class="menu-item" nav-clear menu-close href="#/app/outbox">
          Outbox
          <span class="badge badge-positive" ng-show="menuCtrl.unreadOut > 0">{{ menuCtrl.unreadOut }}</span>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer-bar class="bar-dark">
      <img class="menu-profilePhoto" src="{{ menuCtrl.user.profileUrl }}">
      <div class="menu-user-name">{{ menuCtrl.user.name }}</div>
      <div ng-if="menuCtrl.user.city" class="menu-user-city">{{ menuCtrl.user.city + ', ' + menuCtrl.user.state }}</div>
      <div ng-if="!menuCtrl.user.city" class="menu-user-city">Retrieving user location...</div>
    </ion-footer-bar>
  </ion-side-menu>


</ion-side-menus>
