/* Empty. Add your own CSS if you like */

.btn-auth {
  font-size: 1.1em;
  position: relative;
  top: -8px;
}

#location-input {
  width: 90%;
}

.range-container {
  display: block;
}

.scroll {
  height: 100%;
}
 
#map {
  width: 100%;
  height: 100%;
}

.item-title {
  font-size: 0.75em;
  position: relative;
  top: -0.5em;
}

.item-countdown {
  font-size: 1.5em;
  text-align: center;
}

.location-text {
  font-size: .9em;
}

.bold-text {
  font-weight: bold;
}

#brand {
  text-align: center;
  margin-top: 2em;
  margin-bottom: .5em;
  color: #fff;
  font-size: 3.4em;
  font-family: 'Lobster', cursive;
  text-shadow: rgba(100,100,100,1) 0px 0px 10px;
}

.login-btn {
  border: none;
  background: none;
}

#button-facebook {
  border-radius: 5px;
  background-color: #42609B;
  border-color: #395282;
  /*box-shadow: rgba(100, 100, 100, 0.5) 0px 0px 8px;*/
  box-shadow: #395282 0px 4px 0px;
}

.auth-pane {
  background-image: url("../img/auth-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: #cccccc 0px 4px 0px;
}

.cache-item {
  padding: 1.6em 1em .8em 1em;
  border: 1px solid #dddddd;
  background-color: white;
}

.fade-from-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 94%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(94%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 94%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 94%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 94%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 94%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.title {
  font-family: 'Lobster', cursive;
}

.cache-title {
  font-family: 'Lato', sans-serif;
}

.cache-countdown {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  margin-bottom: .4em;
}
.cache-location {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #cccccc;
}
