/* Empty. Add your own CSS if you like */

ion-content {
  font-family: 'Lato', sans-serif;
}

.btn-auth {
  font-size: 1.1em;
  position: relative;
  top: -8px;
}

#location-input {
  width: 90%;
}

.range-container {
  display: block;
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.radius-slider {
  position: absolute;
  bottom: 0px;
  width: 101%;
}

.radius-range {
  width: 100%;
  padding-left: 5em;
  padding-right: 1em;
}

.slider-label {
  position: absolute;
  left: 6px;
  padding-top: 7px;
}

.slider-value {
  position: absolute;
  left: 6px;
  bottom: 2px;
}

.item-title {
  font-size: 0.75em;
  position: relative;
  top: -0.5em;
}

.item-countdown {
  font-size: 1.5em;
  text-align: center;
}

.location-text {
  font-size: .9em;
}

.bold-text {
  font-weight: bold;
}

#brand {
  text-align: center;
  margin-top: 2em;
  margin-bottom: .5em;
  color: #fff;
  font-size: 3.4em;
  font-family: 'Lobster', cursive;
  text-shadow: rgba(100,100,100,1) 0px 0px 10px;
}

.login-btn {
  border: none;
  background: none;
}

#button-facebook {
  border-radius: 5px;
  background-color: #42609B;
  border-color: #395282;
  box-shadow: #395282 0px 4px 0px;
}

.auth-pane {
  background-image: url("../img/auth-background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border: 0px solid #D7D9DB;
  border-radius: 5px;
  box-shadow: #444444 0px 5px 0px;
}

.cache-item {
  padding: 1.6em 1em .956em 1em;
  border: 1px solid #444444;
  background-color: #f0f0f0;
}

.fade-from-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: background;
  100: rgba(240,240,240,0);
  background: -moz-linear-gradient(left, rgba(240,240,240,0) 0%, rgba(240,240,240,0.1) 94%, rgba(240,240,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,0)), color-stop(94%, rgba(240,240,240,0.1)), color-stop(100%, rgba(240,240,240,1)));
  background: -webkit-linear-gradient(left, rgba(240,240,240,0) 0%, rgba(240,240,240,0.1) 94%, rgba(240,240,240,1) 100%);
  background: -o-linear-gradient(left, rgba(240,240,240,0) 0%, rgba(240,240,240,0.1) 94%, rgba(240,240,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(240,240,240,0) 0%, rgba(240,240,240,0.1) 94%, rgba(240,240,240,1) 100%);
  background: linear-gradient(to right, rgba(240,240,240,0) 0%, rgba(240,240,240,0.1) 94%, rgba(240,240,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 100;
  background-color: #444444;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title {
  font-family: 'Lobster', cursive;
}

.cache-title {
  font-family: 'Lato', sans-serif;
  font-size: 2.2em;
  margin-bottom: .53em;
  text-shadow: #dddddd 1px 1px 2px;
}

.cache-countdown {
  font-family: 'Lato', sans-serif;
}

.cache-availIn {
  font-family: 'Lato', sans-serif;
}

.cache-location {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #46433A;
}

/* Color pallette */

.purple-snap {
  background-color: #7b53df;
}

.green-snap {
  background-color: #008f5a;
}

.orange-snap {
  background-color: #f08a1a;
}

.yellow-snap {
  background-color: #fdd016;
}

.blue-snap {
  background-color: #0065a4;
}

/* Create view styling */

.btn-create {
  border: 1px solid #0c63ee;
  border-radius: 5px;
  box-shadow: #0c63ee 0px 4px 0px;
}

.popover {
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: #cccccc 0px 4px 0px;
  width: 80%;
  margin-left: -7.5px !important;
}

.popover .bar-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.popover-list>div {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.popover-list>div:last-child {
  border-top: 1px solid #dddddd;
  border-bottom: 0px solid #dddddd;
}

/* Detail view styling */

.cache-image {
  display: block;
  width: 100%;
  margin-top: 1em;
  border-radius: 5px;
  box-shadow: #444444 0px 4px 0px;
}

.cache-message {
  display: block;
  margin-top: 0.8em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.empty-box {
  text-align: center;
}

.empty-box>h1 {
  font-family: 'Lobster', cursive;
  color: #404040;
  padding-top: 1em;
  padding-bottom: 0.9em;
}

.empty-box>img {
  width: 60%;
  display: block;
  margin: auto;
}

.empty-box>button {
  margin-top: 2.2em;
  border-radius: 5px;
  box-shadow: #111 0px 4px 0px;
}

.camera-button {
  margin-right: 0.58em;
}

.description {
  background-color: #eee;
  padding: 15px;
  text-align: center;
}

.cache-contribution {
  padding-top: 1.1em;
}

.display-name {
  vertical-align: baseline;
  margin-left: 2.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: #555555;
  //font-family: 'Lobster', cursive;
}

.created-at {
  display: block;
  margin-left: 49px;
  font-size: 0.8em;
  color: #777777;
}

/*
 ***********************
 * Facebook Profile Photos
 ***********************
 */

.profilePhoto {
  position: absolute;
  border-radius: 5px;
  top: 1em;
  left: 1em;
  height: 40px;
  box-shadow: #888888 0px 2px 0px;
}

.menu-profilePhoto {
  border-radius: 10%;
  vertical-align: middle;
  height: 2.35em;
  box-shadow: #777777 0px 2px 0px;
}

.menu-user-name {
  display: block;
  position: absolute;
  top: 4px;
  left: 3.2em;
  font-size: 1em;
}

.menu-user-city {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 3.62em;
  color: #888888;
  font-size: 0.9em;
}

/** Main view styling **/

.inbox-pane {
  background-color: cadetblue;
}

.outbox-pane {
  background-color: cadetblue;
}

.menu-pane {
  background-color: #444444;
}


/** Menu styling **/

.menu-item {
  background-color: #444444 !important;
  color: #f0f0f0;
  border: 1px solid #666666;
}

.menu-item a {
  background-color: #444444 !important;
} 

.menu-container {
  border-bottom: 1px solid #666666;
}

.inbox-badge {
  background-color: #FF5050;
  color: white;
}

.outbox-badge {
  background-color: #FF5050;
  color: white;
}

