/* Empty. Add your own CSS if you like */

.btn-auth {
  font-size: 1.1em;
  position: relative;
  top: -8px;
}

#location-input {
  width: 90%;
}

.range-container {
  display: block;
}

.scroll {
  height: 100%;
}
 
#map {
  width: 100%;
  height: 100%;
}

.item-title {
  font-size: 0.75em;
  position: relative;
  top: -0.5em;
}

.item-countdown {
  font-size: 1.5em;
  text-align: center;
}

.location-text {
  font-size: .9em;
}

.bold-text {
  font-weight: bold;
}
